{% extends 'base.html' %} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Editar fluido</h1>
    </div>
    {% include 'partials/messages.html' %}
    <form method="post">
        {%csrf_token%}
        <input value="{{fluido.id}}" type="hidden" id="id" name="id" required>
        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input value="{{fluido.descripcion}}" type="text" placeholder="Ingrese nombre del fluido" class="form-control" id="descripcion"
                name="descripcion" required>
        </div>
        <div class="form-group">
            <label for="viscosidad_cinematica">Vsicosidad cinematica</label>
            <input value="{{fluido.viscosidad_cinematica}}" type="text" placeholder="Ingrese la viscosidad cinematica" class="form-control"
                id="viscosidad_cinematica" name="viscosidad_cinematica" required>
        </div>
        <div class="form-group">
            <label for="valor_viscocidad">Valor de la viscosidad</label>
            <input value="{{fluido.valor_viscocidad}}" type="text" placeholder="Ingrese el valor de la viscosidad" class="form-control"
                id="valor_viscocidad" name="valor_viscocidad" required>
        </div>

        <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
    </form>
</main>
{% endblock %}