{% load staticfiles %}

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{% static 'favicon/favicon.ico' %}"
  />
  <title>Dashboard - Hidraulica</title>
  <link href="{% static 'admin/css/normalize.css' %}" rel="stylesheet" />
  <link
    href="{% static 'admin/css/lib/bootstrap/bootstrap.min.css' %}"
    rel="stylesheet"
  />
  <link href="{% static 'admin/css/helper.css' %}" rel="stylesheet" />
  <link href="{% static 'admin/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'admin/css/calculos.css' %}" rel="stylesheet" />
  <link href="{% static 'admin/css/aria-progressbar.min.css' %}" rel="stylesheet" />
  <link
    href="{% static 'admin/css/lib/sweetalert/sweetalert.css' %}"
    rel="stylesheet"
  />
  <link
    href="{% static 'admin/css/bootstrap-datepicker.min.css' %}"
    rel="stylesheet"
  />
  <link href="{% static 'admin/css/vis.min.css' %}" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous"
  />
</head>
