{% load staticfiles %}

<!-- All Jquery -->
<script src="{% static 'admin/js/lib/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'admin/js/lib/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'admin/js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'admin/js/jquery.slimscroll.js' %}"></script>
<!-- Menu sidebar -->
<script src="{% static 'admin/js/sidebarmenu.js' %}"></script>
<!-- stickey kit -->
<script src="{% static 'admin/js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
<script src="{% static 'admin/js/scripts.js' %}"></script>
<script src="{% static 'admin/js/aria-progressbar.min.js' %}"></script>
<script src="{% static 'admin/js/lib/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'admin/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'admin/js/base.js' %}"></script>
<script src="{% static 'admin/js/funciones.js' %}"></script>
