{% extends 'base.html' %} {% load static from staticfiles%} {% block content %}
<div class="page-wrapper">
  <!-- Bread crumb -->
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-primary">Administrar proyecto</h3>
    </div>
    <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Proyectos</li>
        <li class="breadcrumb-item active">Administrar</li>
      </ol>
    </div>
  </div>
  <!-- End Bread crumb -->
  <!-- Container fluid -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            {% include 'partials/messages.html' %}
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="nav-item">
                <a
                  class="nav-link {% if active_tab == 'i' %} active{% endif %}"
                  href="#info"
                  aria-controls="info"
                  role="tab"
                  data-toggle="tab"
                  >Info</a
                >
              </li>
              <li role="presentation" class="nav-item">
                <a
                  class="nav-link {% if active_tab == 'r' %} active{% endif %}"
                  href="#reservorios"
                  aria-controls="reservorios"
                  role="tab"
                  data-toggle="tab"
                  >Reservorios</a
                >
              </li>
              <li role="presentation" class="nav-item">
                <a
                  class="nav-link {% if active_tab == 'n' %} active{% endif %}"
                  href="#nodos"
                  aria-controls="nodos"
                  role="tab"
                  data-toggle="tab"
                  >Nodos</a
                >
              </li>
              <li role="presentation" class="nav-item">
                <a
                  class="nav-link {% if active_tab == 't' %} active{% endif %}"
                  href="#tuberias"
                  aria-controls="tuberias"
                  role="tab"
                  data-toggle="tab"
                  >Tuberias</a
                >
              </li>
              <li role="presentation" class="nav-item">
                <a
                  class="nav-link {% if active_tab == 'g' %} active{% endif %}"
                  href="#genetico"
                  aria-controls="genetico"
                  role="tab"
                  data-toggle="tab"
                  >Genetico</a
                >
              </li>
              <li role="presentation" class="nav-item">
                <a
                  class="nav-link"
                  href="#calculos"
                  aria-controls="calculos"
                  role="tab"
                  data-toggle="tab"
                  >Calculos</a
                >
              </li>
            </ul>
            <br />
            <!-- Tab panes -->
            <div class="tab-content">
              <div
                role="tabpanel"
                class="tab-pane {% if active_tab == 'i' %} active{% endif %}"
                id="info"
              >
                {% include 'sections/proyectos/partials/info.html' %}
              </div>
              <div
                role="tabpanel"
                class="tab-pane {% if active_tab == 'r' %} active{% endif %}"
                id="reservorios"
              >
                {% include 'sections/proyectos/partials/reservorios.html' %}
              </div>
              <div
                role="tabpanel"
                class="tab-pane {% if active_tab == 'n' %} active{% endif %}"
                id="nodos"
              >
                {% include 'sections/proyectos/partials/nodos.html' %}
              </div>
              <div
                role="tabpanel "
                class="tab-pane {% if active_tab == 't' %} active{% endif %}"
                id="tuberias"
              >
                {% include 'sections/proyectos/partials/tuberias.html' %}
              </div>
              <div 
                role="tabpanel" 
                class="tab-pane {% if active_tab == 'g' %} active{% endif %}" 
                id="genetico"
              >
                {% include 'sections/proyectos/partials/genetico.html' %}
              </div>
              <div role="tabpanel" class="tab-pane" id="calculos">
                {% include 'sections/proyectos/partials/calculos.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Container fluid -->
</div>
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<script src="{% static 'admin/js/lib/datatables/datatables.min.js' %}"></script>
<script src="{% static 'admin/js/lib/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'admin/js/lib/datatables/buttons.flash.min.js' %}"></script>
<script src="{% static 'admin/js/lib/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'admin/js/lib/datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'admin/js/lib/datatables/datatables-init.js' %}"></script>
{% endblock %}
