{% extends 'base.html' %} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Beneficiarios</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a type="button" href="{% url 'beneficiarios_crear' %}" class="btn btn-sm btn-primary">Crear</a>
            </div>
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Activos</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Inactivos</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Todos</button>
            </div>
        </div>
    </div>
    {% include 'partials/messages.html' %}
    <div class="table-responsive">
        <table id="beneficiarios_tabla">
            <thead>
                <tr>
                    <th style="padding: 10px 10px;">Cedula</th>
                    <th style="padding: 10px 10px;">Nombres</th>
                    <th style="padding: 10px 10px;">Cargo</th>
                    <th style="padding: 10px 10px;">Status</th>
                    <th style="width: 100px">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %} {% for beneficiario in object_list %}
                <tr>
                    <td>{{beneficiario.pk}}</td>
                    <td class="text-dark">{{beneficiario.nombres}}</td>
                    <td>{{beneficiario.cargo}}</td>
                    {% if beneficiario.status %}
                    <td>
                        <span class="badge badge-success">Activo</span>
                    </td>
                    {% else %}
                    <td>
                        <span class="badge badge-danger">Inactivo</span>
                    </td>
                    {% endif %}

                    <td style="width: 100px">
                        <a href="{% url 'beneficiarios_editar' beneficiario.pk %}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top">
                            <span data-feather="edit"></span>
                        </a>
                        <a href="#" onclick="ConfirmDesBlock({{ beneficiario.pk }})" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top">
                            <span data-feather="trash-2"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}