{% extends 'base.html' %} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Lista de materiales</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a type="button" href="{% url 'materiales_crear' %}" class="btn btn-sm btn-outline-primary">Crear</a>
            </div>
        </div>
    </div>
    {% include 'partials/messages.html' %}
    <div class="table-responsive">
        <table id="beneficiarios_tabla">
            <thead>
                <tr>
                    <th style="padding: 10px 10px;">Descripcion</th>
                    <th style="padding: 10px 10px;">ks</th>
                    <th style="width: 100px">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %} {% for material in object_list %}
                <tr>
                    <td>{{material.descripcion}}</td>
                    <td>{{material.ks}}</td>
                    <td style="width: 150px">
                        <a href="{% url 'materiales_editar' material.id%}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top">
                            <span data-feather="edit"></span>
                        </a>
                        <a href="#" onclick="borrarMaterial({{ material.id }})" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top">
                            <span data-feather="trash-2"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}