{% load staticfiles %} {% if proyecto%}

<div class="row" >
    <div style="margin: 0 auto; text-align:center;">

      <a
      href="{% url 'calculo_gradiente' proyecto.id %}"
      class="btn btn-sm btn-danger"
      data-toggle="tooltip"
      data-placement="top"
      style="font-size:16px"
      >
      Metodo de la gradiente
    </a>
    <a
    href="{% url 'calculo_genetico' proyecto.id %}"
    class="btn btn-sm btn-primary"
    data-toggle="tooltip"
    data-placement="top"
    style="font-size:16px"
    >
    Algoritmo genetico
  </a>
</div>
</div>
{% endif %}
