{% load staticfiles %} {% if proyecto%}

<div class="row">
    <div class="col-md-4">

        <h4>
            <b>Nombre: </b> {{proyecto.nombre}}</h4>
        <h4>
            <b>Material: </b> {{proyecto.material}}</h4>
        <h4>
            <b>Fluido: </b> {{proyecto.fluido}}</h4>
        <br>

        <a href="#" onclick="generarGrafo({{proyecto.id}})" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top">
            Generar grafo
        </a>
    </div>
    <div id="sample" class="col-md-8">
        <div id="mynetwork" style="border: solid 1px lightgray; width:600px; height:400px"></div>
    </div>
</div>
<script src="{% static 'admin/js/vis.min.js' %}"></script>

<script>
    function generarGrafo(pk) {
        request_url = '/proyecto/datos/' + pk
        $.ajax({
            url: request_url,
            success: function (data) {
                var nodes = []
                reservorios = data.reservorios
                reservorios.map((reservorio) => {
                    nodes.push({
                        id: reservorio.numero,
                        //label: reservorio.numero + " x: " + reservorio.x_position + " y: " + reservorio.y_position,
                        label: reservorio.numero,
                        x: reservorio.x_position,
                        y: reservorio.y_position,
                        color: {
                            background: "#b0d4ff", border: " #1980ff", highlight: " #1980ff", hover: " #1980ff"
                        },
                    })
                })

                nodos = data.nodos;
                nodos.map((nodo) => {
                    nodes.push({
                        id: nodo.numero,
                        //label: nodo.numero + " x: " + nodo.x_position + " y: " + nodo.y_position,
                        label: nodo.numero,
                        x: nodo.x_position,
                        y: nodo.y_position,
                        color: {
                            background: "#ffa2a2", border: "#ff3838", highlight: "#ff3838", hover: "#ff3838"
                        },
                    })
                })


                var links = []
                tuberias = data.tuberias
                tuberias.map(nodo => {
                    links.push({
                        arrows: {
                            to: { enabled: true, scaleFactor: 1, type: 'arrow' },
                            middle: { enabled: false, scaleFactor: 1, type: 'arrow' },
                            from: { enabled: false, scaleFactor: 1, type: 'arrow' }
                        },
                        from: nodo.start,
                        to: nodo.end,
                        label: nodo.numero,
                        type: 'arrow'
                    })
                })

                var nodos = new vis.DataSet(nodes);

                var edges = new vis.DataSet(links);

                var container = document.getElementById('mynetwork');

                var data = {
                    nodes: nodos,
                    edges: edges
                };

                var options = {
                    edges: {
                        inheritColors: false,
                        font: {
                            size: 20,
                            color: '#111'
                        },
                    },
                    nodes: {
                        parseColor: false,
                        font: {
                            size: 20,
                            color: '#111'
                        },
                        borderWidth: 2
                    },
                    physics: false,
                    interaction: {
                        dragNodes: false,// do not allow dragging nodes
                        zoomView: true, // do not allow zooming
                        dragView: true  // do not allow dragging
                    }
                };

                var network = new vis.Network(container, data, options);

            }
        })
    }


</script> {% endif %}