{% load staticfiles %}
<form method="post">
    {%csrf_token%}
    <input type="hidden" value="tuberia" id="tipo" name="tipo">
    <input type="hidden" value="{{proyecto.id}}" id="id_proyecto" name="id_proyecto">
    <div class="row">

        <div class="form-group col-md-4">
            <input type="text" placeholder="Nombre de la tuberia" class="form-control" id="numero" name="numero" required>
        </div>
        <div class="form-group col-md-4">
            <input type="text" placeholder="Longitud" class="form-control" id="longitud" name="longitud" required>
        </div>
        <div class="form-group col-md-4">
            <input type="text" placeholder="Diametro" class="form-control" id="diametro" name="diametro" required>
        </div>
    </div>
    <div class="row">

        <div class="form-group col-md-4">
            <select class="form-control" id="start" name="start">
                <option value="0">Nodo inicial</option>
                {% if nodos %} {% for n in nodos %}
                <option value="{{n.id}}">{{n.numero}}</option>
                {% endfor %} {% endif %}
            </select>
        </div>
        <div class="form-group col-md-4">
            <select class="form-control" id="end" name="end">
                <option value="0">Nodo final</option>
                {% if nodos %} {% for n in nodos %}
                <option value="{{n.id}}">{{n.numero}}</option>
                {% endfor %} {% endif %}
            </select>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary ">Agregar</button>
        </div>
    </div>
    <br>
</form>
<div class="table-responsive ">
    <table id="TuberiaTable" class="table table-bordered">
        <thead>
            <tr>
                <th style="padding: 10px 10px;">Numero</th>
                <th style="padding: 10px 10px;">Longitud</th>
                <th style="padding: 10px 10px;">Diametro</th>
                <th style="padding: 10px 10px;">Inicio</th>
                <th style="padding: 10px 10px;">Fin</th>
                <th style="width: 100px; text-Align:center">Accion</th>
            </tr>
        </thead>
        <tbody>
            {% if tuberias %} {% for tuberia in tuberias %}
            <tr>
                <td>{{tuberia.numero}}</td>
                <td class="text-dark">{{tuberia.longitud}}</td>
                <td>{{tuberia.diametro}}</td>
                <td>{{tuberia.start}}</td>
                <td>{{tuberia.end}}</td>
                <td style="width: 150px; text-Align:center">
                    <a href="#" onclick="borrarTuberia({{tuberia.id}})" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top">
                        <i class="fa fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %} {% endif %}
        </tbody>
    </table>
</div>

<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function() {
        $('#TuberiaTable').dataTable( );
    } );


// Delete Competition
function borrarTuberia(pk){
    swal({
        title: "Borrar tuberia",
        text: "¿Estas seguro de querer borrar esta tuberia?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            request_url =  '/tuberia/eliminar/' + pk
            $.ajax({
                url: request_url,
                success: function(data){
                    swal("Tuberia borrada", {
                        icon: "success",
                    }).then(()=>{ location.reload();});
                }
            })
        } else {
            swal("Operacion cancelada");
        }
    });
}
</script>