{% load staticfiles %}
<!doctype html>
<html lang="en">
{% include 'layouts/header.html' %}

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Red hidraulica</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Salir</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <span data-feather="file-plus"></span>
                                Proyectos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/materiales">
                                <span data-feather="grid"></span>
                                Materiales
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/fluidos">
                                <span data-feather="wind"></span>
                                Fluidos
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% block content %} {% endblock %}
        </div>
    </div>
    {% include 'layouts/scripts.html' %}

</body>

</html>